[submodule "skills"]
	path = skills
	url = git@github.com:anthropics/skills.git
[submodule "awesome-claude-skills"]
	path = awesome-claude-skills
	url = git@github.com:BehiSecc/awesome-claude-skills.git
